<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
  	<title>Products_edit</title>
    <link rel="stylesheet" href="/static/css/styles2.css" type="text/css">
  </head>
  <body>
  	<div id="wrapper">
	  	<h2>Edit Product </h2>
	  	<form action="/products/edit_submit/{{ data[0]['id'] }}" method="POST">
	  		<label>Name</label>
	  		<input type="text" name="name" value="{{ data[0]['name'] }}" /><br>
	  		<label>Description </label>
	  		<input type="text" name="description" value="{{ data[0]['description'] }}" /><br>
	  		<label>Price</label>
	  		<input type="text" name="price" value="{{ data[0]['price'] }}" /><br>

	  		<input type="submit" name="update" value="Update" /><br><br>
	  		<a href="/products/show/{{data[0]['id']}}">Show</a> | <a href="/">Back</a>
	  		{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<p id="flash">{{ message }}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}
	  	</form>
  	</div>
  </body>
</html>